In [80]:
import pandas as pd
import numpy as np

In [72]:
user_levels_df = pd.read_csv('Data/user_levels.csv')
user_levels_df.sort_values(by = 'author', ascending = True).head(20)

,Unnamed: 0,author,flair,N,A1,A2,B1,B2,C1,C2
1855,1855,--fr0stbit3--,N:🇺🇸 A2:🇪🇸,['en'],[],['es'],[],[],[],[]
1118,1118,-TNB-o-,🇺🇸 -> 🇯🇵,[],[],[],[],[],[],[]
1319,1319,-Vampires-,EN | ES | CN,[],[],[],[],[],[],[]
813,813,-tobyt,N 🇬🇧 | B2 🇪🇸 | B1 🇫🇷,['en'],[],[],['fr'],['es'],[],[]
1485,1485,-wojteq-,🇵🇱 N | 🇬🇧 B2 | 🇷🇺 A1,['pl'],['ru'],[],[],['en'],[],[]
1139,1139,069988244,N🇬🇧 | 🇫🇷,['en'],[],[],[],[],[],[]
900,900,0mnicious,🇬🇧 🇵🇹 N | 🇮🇹 B1 🇯🇵 A2,[],[],[],[],[],[],[]
918,918,1001010010012,🇪🇦 N 🇺🇸 C1 🇲🇫 B2,['es'],[],[],[],['fr'],['en'],[]
1172,1172,1020randomperson,🇰🇷 | 🏴󠁧󠁢󠁥󠁮󠁧󠁿🇯🇵 | 🇫🇷 | 🇬🇪,[],[],[],[],[],[],[]
410,410,11abjurer,le epic flair,[],[],[],[],[],[],[]
383,383,12034210124802140,"eng,spa,port,ita,chi",[],[],[],[],[],[],[]
1761,1761,12the3,N🇵🇦🇺🇸|B2-C1🇨🇳|B2ish🇧🇷|B1🇫🇷|A2🇯🇵,[None],[],['ja'],[],[],['zh'],[]
879,879,1433165A,"🇪🇸N,🇺🇸C2,🇩🇪C2, 🇨🇳HSK3",['es'],[],[],[],[],[],"['en', 'de']"
294,294,144_c,Learning Es,[],[],[],[],[],[],[]
1659,1659,1Pengor1,🇷🇺N | 🇰🇬N | 🇰🇿N | 🇺🇸C2 | 🇩🇪A1 | 🇺🇦,"['ru', None, None]",['de'],[],[],[],[],['en']
462,462,1ast0ne,🇺🇸N | 🇩🇪B1 🇪🇸 B1 | trying out: 🇦🇪 🇭🇹 🇮🇪,['en'],[],[],"['de', 'es']",[],[],[]
492,492,1min_map,🇭🇺 | 🇬🇧 🇵🇱 🇩🇪 🇻🇦,[],[],[],[],[],[],[]
1170,1170,27justin,🇩🇪 N | 🇺🇸 C2 | 🇯🇵 B1 | Planned 🇰🇷 🇻🇳 🇭🇰,['de'],[],[],['ja'],[],[],['en']
2061,2061,2Zzephyr,FR (N) | EN (Fluent) | Swedish Beginner,['FR'],[],[],[],[],[],[]
649,649,2plash6,🇺🇸N🇷🇺Тrуing му беsт🇪🇸HS Only,['en'],[],[],[],[],[],[]

We first want to keep only the native english speakers

In [8]:
print('The dataset contains ', user_levels_df['N'].str.contains('en|EN|En|eN').sum(), ' native english speakers.')

The dataset contains  825  native english speakers.

In [73]:
native_english_df = user_levels_df[user_levels_df['N'].str.contains('en|EN|En|eN')]
native_english_df.sort_values(by = 'author', ascending=True)

,Unnamed: 0,author,flair,N,A1,A2,B1,B2,C1,C2
1855,1855,--fr0stbit3--,N:🇺🇸 A2:🇪🇸,['en'],[],['es'],[],[],[],[]
813,813,-tobyt,N 🇬🇧 | B2 🇪🇸 | B1 🇫🇷,['en'],[],[],['fr'],['es'],[],[]
1139,1139,069988244,N🇬🇧 | 🇫🇷,['en'],[],[],[],[],[],[]
462,462,1ast0ne,🇺🇸N | 🇩🇪B1 🇪🇸 B1 | trying out: 🇦🇪 🇭🇹 🇮🇪,['en'],[],[],"['de', 'es']",[],[],[]
649,649,2plash6,🇺🇸N🇷🇺Тrуing му беsт🇪🇸HS Only,['en'],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...
1993,1993,yxngfabio,🇺🇸 N | 🇪🇸 C1 | 🇧🇷 C1 | 🇷🇺 B1 | 🇨🇳 HSK1,['en'],[],[],['ru'],[],"['es', 'pt']",[]
1944,1944,zamo555,🇬🇧N | 🇫🇷🇰🇷A2,['en'],[],[],[],[],[],[]
595,595,zazzerida,En N | Fr B2; Es A2; It A2; De A2,['En'],[],"['Es', 'It', 'De']",[],['Fr'],[],[]
367,367,zealouspilgrim,Native: 🇨🇦 | Learning: ht,['en'],[],[],[],[],[],[]
1789,1789,ztsmyder,🇺🇸(Native) 🇳🇴(A2),['en'],[],['no'],[],[],[],[]

Now, we load the comments from all the native english speakers authors to add a column "comments" and statistics about this comments in the main dataset.

In [74]:
# Reduce the main dataframe to the column of interest  
native_english_df = native_english_df[['author', 'N']]
# path to my json files folder
path_to_json = 'Data/user_comments/'
# initialize empty array to construct the new columns in the for loop afterwards
body = []
average_number_of_words = []
number_of_comments = []

# Look through all the native english authors .json to extract the comments and their statistics : average number of words and number of comments per author 
for index, row in native_english_df.iterrows():
    df = pd.read_json(path_to_json + row['author'] + '.json')
    # Some author doesn't have any comments in their json files because they are suspended
    # We fill their values with NaNs
    if (df.iloc[0][0] == 'suspended'):
        print(row['author'], "is suspended.")
        body.append(np.NaN)
        average_number_of_words.append(np.NaN)
        number_of_comments.append(np.NaN)
    # For the other authors, all the comments are put in a list, 
    # we count the number of words in average and the number of comments
    else:
        body.append(df.body.to_list())
        average_number_of_words.append(df['body'].apply(lambda n: len(n.split())).mean())
        number_of_comments.append(len(df.body))

# Add columns of comments, average number of words per comment and number of comments to the main dataframe
native_english_df['comments'] = body 
native_english_df['nb_comments'] = number_of_comments
native_english_df['average_nb_words'] = average_number_of_words

native_english_df.head(20)

MeNoThinkyBrain is suspended.
LiterallySoFamous is suspended.

,author,N,comments,nb_comments,average_nb_words
2,Noktilucent,['en'],"[The crossover we need, not the crossover we d...",508.0,38.811024
9,ii_akinae_ii,['en'],[what's your treatment regimen? for me person...,955.0,60.512042
12,xanthic_strath,['En'],"[Hello, u/SirGeeseGoose, and thank you for pos...",1000.0,106.770000
13,SageEel,['en'],[mi olin e ni: jan mute li ken kepeken e toki ...,924.0,24.590909
15,dlt529,['EN'],[All of the above. \n\nImmersion/input is the ...,752.0,101.589096
16,IAmGilGunderson,['en'],[If you can look at what you have done and lea...,999.0,70.700701
18,StrongIslandPiper,['EN'],[Just checked out the original post and tons o...,996.0,72.377510
19,Brxek0,['en'],"[A custom hercule is atletas high A tier, Cust...",794.0,5.802267
21,taknyos,['en'],[I was at WWE in the odyssey around that time ...,1000.0,56.460000
22,LeenaJones,['en'],[Pimsleur and a ton of CI videos would probabl...,1000.0,93.131000
23,the_paytonium,['en'],"[All of them., Hey man it's all good. I'm more...",260.0,53.484615
25,BeckyLiBei,['en'],"[Enjoy the challenge! Chinese is hard., Sorry...",1000.0,57.776000
29,RihanCastel,['en'],[Who in the fuck learns a language for communi...,490.0,22.661224
35,triosway,['en'],[Very likely banned. Throwing things on the co...,999.0,26.888889
37,furyousferret,['en'],"[When I was a monoglot English speaker, I used...",1000.0,39.013000
38,Lord_Zaoxc,['En'],[This is exactly the solution. I second record...,486.0,50.388889
39,reasonisaremedy,['en'],"[Wie originell 🙄, You said what I wanted to: t...",996.0,101.141566
42,Maximum_Pie_6883,['en'],[Yeah I remember back in high school learning ...,61.0,48.344262
43,greyslopp,['en'],"[Gross, Arent nunchucks quicker?, Vark leader ...",999.0,11.028028
45,amazinggrace725,['en'],[What happened to that poor kid? That looks ba...,1000.0,19.459000

We will then explore the statistics of the different authors in order to eliminate the outliers, standardize, normalize, etc

In [79]:
native_english_df[['nb_comments']].describe()

       nb_comments
count   823.000000
mean    617.393682
std     391.039516
min       1.000000
25%     205.500000
50%     773.000000
75%     997.000000
max    1000.000000

Some authors have written only one comments. It's not enough to train a model on it. We have to determine how many comments minimum we should keep and We need to determine how we treat authors who write comments with few words: do we eliminate them, merge their commenters to have longer ones or do we estimate that the number of words is a feature in itself?